.wwu-galleries table {
    width: 100%;
    border: 0;
    padding: 0;
    margin: 0;
}

.wwu-galleries tr,
.wwu-galleries tr:nth-of-type(n) {
    background: transparent;
    border: 0;
}

.wwu-galleries .wwu-galleries-row {
    width: 50%;
    background: transparent;
    border: 0;
    padding: 0;
}

.wwu-galleries .wwu-galleries-images img {
    margin: 10px;    
}

.wwu-galleries .wwu-galleries-title {
    margin-top: 0;
}

.wwu-galleries .wwu-galleries-photographer {
    font-size: 150%;
    color: #666;
    margin-top: 0;
}
